// Typography
//==================================================

// Helvetica Neue
$helvetica-neue-font-stack: 'HelveticaNeueW01-55Roma', 'Helvetica Neue', Helvetica, 'Helvetica LT Std', 'Helvetica CY', Arial, 'Lucida Grande', sans-serif !default;
$helvetica-neue-light: 'HelveticaNeueW01-45Ligh', $helvetica-neue-font-stack !default;
$helvetica-neue-bold: 'Helvetica Neue LT W01_75 Bold', $helvetica-neue-font-stack !default;
$helvetica-neue-condensed-black: 'HelveticaNeueW01-97Blac', $helvetica-neue-font-stack !default;

// Iowan
$iowan-old-style: 'IowanOldStyleW01-Roman', Georgia, Times, serif !default;
$iowan-old-style-italic: 'IowanOldStyleW01-Italic1120392', Georgia, Times, serif !default;
$iowan-old-style-black: 'IowanOldStyleW01-Black' !default;
$iowan-old-style-black-italic: 'IowanOldStyleW01-BlackI', Georgia, Times, serif !default;

// Shout
$wvu-shout-font-family: $helvetica-neue-condensed-black !default;

// Lead
$wvu-lead-font-family: $helvetica-neue-light !default;

// Font size
$wvu-font-size-base: 1rem !default;

// Paragraph measure

$wvu-p-measure: 48rem !default;

// Line height
$wvu-shout-line-height: 0.80487em !default;
$wvu-traditional-audience-line-height: 1.16666666667em !default;

// Audiences
$wvu-traditional-audience: $iowan-old-style !default;
$narrow-audience: $iowan-old-style-italic !default;

// Color
//==================================================

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral
$wvu-neutral--white: #F9F9F9;
$wvu-neutral--black: #2C2A29;
$wvu-neutral--dark-gray: #333F48;
$wvu-neutral--light-gray: #A2AAAD;
$wvu-neutral--dark-brown: #6E6259;
$wvu-neutral--brown: #7C736A;
$wvu-neutral--light-brown: #BFB8AF;

// Accent
$wvu-accent--dark-blue: #0033A0;
$wvu-accent--blue: #005EB8;
$wvu-accent--light-blue: #9BD3DD;
$wvu-accent--brown: #4B3D2A;
$wvu-accent--mustard: #8F701E;
$wvu-accent--orange: #ED8B00;
$wvu-accent--dark-green: #0D5257;
$wvu-accent--green: #657A68;
$wvu-accent--light-green: #9ABEAA;
$wvu-accent--red: #BE3A34;
$wvu-accent--burnt-orange: #CD4C08;
$wvu-accent--yellow: #FDDA24;

// Masthead
//==================================================

$wvu-flying-wv-w-signature: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo--2.0.0.svg' !default;
$wvu-flying-wv-w-signature--blue: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo__blue--2.0.0.svg' !default;

// Hero Elements
//==================================================

$wvu-shout-font-size-medium: 4.5em !default;
$wvu-shout-font-size-long: 3em !default;
$wvu-shout-margin: 0 0 .5em !default;

// Hero Typography

$wvu-hero-font-color: white !default;
$wvu-hero-title-typeface: $wvu-shout-font-family !default;
$wvu-hero-vignetting-opacity: .85 !default;
$wvu-typography-line-length: 45rem !default;
$wvu-vignetting-opacity: .85 !default;

$wvu-slash-width: .5em !default;
$wvu-slash-height: 150% !default;

$wvu-blue-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__blue--1.0.0.svg";
$wvu-gold-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__gold--1.0.0.svg";
$wvu-white-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__white--1.0.0.svg";
$wvu-slashes-gold-blue: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue--1.0.0.svg";
$wvu-slashes-gold-blue-white: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue-white--1.0.0.svg";
$wvu-grid-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__grid--1.0.0.svg";
$wvu-grid-pattern-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-transparent--1.0.0.svg";
$wvu-grid-pattern-zoomed: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed--1.0.0.svg";
$wvu-grid-pattern-zoomed-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed-transparent--1.0.0.svg";

// Z-index for vignetting. slash, grid
$wvu-z-index-content: 3 !default;
$wvu-z-index-breadcrumbs: $wvu-z-index-content + 1 !default;
$wvu-z-index-grid: 0 !default;
$wvu-z-index-slash: -1 !default;
$wvu-z-index-angle-container: -1 !default;
$wvu-z-index-vignetting: 1 !default;

// WVU Breakpoints

$wvu-bp-xs: 0 !default;
$wvu-bp-sm: 576px !default;
$wvu-bp-md: 768px !default;
$wvu-bp-lg: 992px !default;
$wvu-bp-xl: 1400px !default;

$wvu-bp-nav: $wvu-bp-lg;

$wvu-breakpoints: (
  $wvu-bp-xs,
  $wvu-bp-sm,
  $wvu-bp-md,
  $wvu-bp-lg,
  $wvu-bp-xl
);

// Bootstrap Overrides
//==================================================

$sizes: (
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%,
  auto: auto
);

$theme-colors: (
  "wvu-blue": $wvu-blue,
  "wvu-gold": $wvu-gold,
  "wvu-neutral--white": $wvu-neutral--white,
  "wvu-neutral--black": $wvu-neutral--black,
  "wvu-neutral--dark-gray": $wvu-neutral--dark-gray,
  "wvu-neutral--light-gray": $wvu-neutral--light-gray,
  "wvu-neutral--dark-brown": $wvu-neutral--dark-brown,
  "wvu-neutral--brown": $wvu-neutral--brown,
  "wvu-neutral--light-brown": $wvu-neutral--light-brown,
  "wvu-accent--dark-blue": $wvu-accent--dark-blue,
  "wvu-accent--blue": $wvu-accent--blue,
  "wvu-accent--light-blue": $wvu-accent--light-blue,
  "wvu-accent--brown": $wvu-accent--brown,
  "wvu-accent--mustard": $wvu-accent--mustard,
  "wvu-accent--orange": $wvu-accent--orange,
  "wvu-accent--dark-green": $wvu-accent--dark-green,
  "wvu-accent--green": $wvu-accent--green,
  "wvu-accent--light-green": $wvu-accent--light-green,
  "wvu-accent--red": $wvu-accent--red,
  "wvu-accent--burnt-orange": $wvu-accent--burnt-orange,
  "wvu-accent--yellow": $wvu-accent--yellow
);

$grid-breakpoints: (
  xs: $wvu-bp-xs,
  sm: $wvu-bp-sm,
  md: $wvu-bp-md,
  lg: $wvu-bp-lg,
  xl: $wvu-bp-xl
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1360px
);

$blue: #006FE6;
$card-border-radius: 0;
$card-border-width: 0;
$card-bg: transparent;
$dark: $wvu-neutral--black;
$display1-size: 7rem;
$font-size-base: 1rem;
$emphasized-link-hover-darken-percentage: 0%;
$font-family-sans-serif: $helvetica-neue-font-stack;
$jumbotron-bg: transparent;
$jumbotron-padding: 4rem;
$lead-font-size: ($font-size-base * 1.5);
$pink: #E01A76;
$small-font-size: 80%;
$spacer: 2rem;
