.wvu-nav {
  .active {
    background-color: transparent !important;
    position: relative;
    &:before {
      border-top: 3px solid $wvu-gold;
      content: '';
      left: 0;
      position: absolute;
      top: -6px;
      width: 100%;
    }
  }
}
