.wvu-bg-vignetting, %wvu-bg-vignetting {
  @include wvu-bg-vignetting($wvu-vignetting-opacity, left);
}

$i: 90;
@while $i > 0 {
  .wvu-bg-vignetting--#{$i} {
    @extend %wvu-bg-vignetting;
    &:before {
      opacity: $i * .01 !important;
    }
  }
  $i: $i - 10;
}

.wvu-bg-vignetting--right {
  @include wvu-bg-vignetting($wvu-vignetting-opacity, right);
}
