.wvu-bg-position-center {
  background-position: 50% 50% !important;
}
.wvu-bg-position-bottom {
  background-position: bottom !important;
}
.wvu-bg-position-top {
  background-position: top !important;
}
.wvu-bg-position-left {
  background-position: left !important;
}
.wvu-bg-position-right {
  background-position: right !important;
}

@each $bp-value, $breakpoint in (xs, $wvu-bp-xs),
                                (sm, $wvu-bp-sm),
                                (md, $wvu-bp-md),
                                (lg, $wvu-bp-lg),
                                (xl, $wvu-bp-xl) {
  @media (min-width: $breakpoint) {
    .wvu-bg-position-#{$bp-value}-center {
      background-position: center !important;
    }
    .wvu-bg-position-#{$bp-value}-bottom {
      background-position: bottom !important;
    }
    .wvu-bg-position-#{$bp-value}-top {
      background-position: top !important;
    }
    .wvu-bg-position-#{$bp-value}-left {
      background-position: left !important;
    }
    .wvu-bg-position-#{$bp-value}-right {
      background-position: right !important;
    }
  }
}

$i: 100;

@while $i >= 0 {
  @each $bg-class, $bg-property in (center-left, center left),
           (center-right, center right),
           (top-left, top left),
           (top-right, top right),
           (bottom-left, bottom left),
           (bottom-right, bottom right) {
    @each $bp-value, $breakpoint in (xs, $wvu-bp-xs),
                                    (sm, $wvu-bp-sm),
                                    (md, $wvu-bp-md),
                                    (lg, $wvu-bp-lg),
                                    (xl, $wvu-bp-xl) {
      .wvu-bg-position-#{$bp-value}-#{$bg-class}--#{$i} {
        @media (min-width: $breakpoint) {
          background-position: $bg-property round(percentage($i/100)) !important;
        }
      }
    }
  }
  $i: $i - 10;
}

@each $bg-class, $bg-property in (center-left, center left),
                                 (center-right, center right),
                                 (top-left, top left),
                                 (top-right, top right),
                                 (bottom-left, bottom left),
                                 (bottom-right, bottom right),
                                 (top, top), {
  @each $bp-value, $breakpoint in (xs, $wvu-bp-xs),
                                  (sm, $wvu-bp-sm),
                                  (md, $wvu-bp-md),
                                  (lg, $wvu-bp-lg),
                                  (xl, $wvu-bp-xl) {
    .wvu-bg-position-#{$bp-value}-#{$bg-class} {
      @media (min-width: $breakpoint) {
        background-position: $bg-property !important;
      }
    }
  }
}

// need options for bg-top, bg-bottom for various ratios for mobile

.wvu-bg-position-spacer-top {
  @media (max-width: $wvu-bp-sm) {
    background-repeat: no-repeat !important;
    padding-top: 24rem !important;
  }
}

.wvu-bg-position-spacer-md-top {
  @media (max-width: $wvu-bp-md) {
    background-repeat: no-repeat !important;
    padding-top: 24rem !important;
  }
}

.wvu-bg-position-spacer-bottom {
  @media (max-width: $wvu-bp-sm) {
    background-repeat: no-repeat !important;
    padding-bottom: 24rem !important;
  }
}

.wvu-bg-position-spacer-md-bottom {
  @media (max-width: $wvu-bp-md) {
    background-repeat: no-repeat !important;
    padding-bottom: 24rem !important;
  }
}
